urllib3==1.26.15
wget==3.2
beautifulsoup4==4.8.2
textract==1.6.5
xlrd==2.0.1
openpyxl==3.1.2
pandas==2.0.3
pdfminer.six==20221105
python-docx==0.8.11
pytesseract==0.3.10
pdf2image==1.16.3
PyPDF2==3.0.1
Pillow==10.0.0
pywin32==306; platform_system=="Windows"